.error-text-size {
  font-size: 12px;
}
.toggle-btn {
  position: absolute;
  right: 0;
}

#input-password {
  padding-right: 55px;
}

@media (max-width: 768px) {
  .login {
    width: 100%;
    margin-bottom: 30px;
  }
}
