<nb-card class="col-3 m-auto">
  <nb-card-header>
    <h4 class="text-center">Login to your account</h4>
  </nb-card-header>
  <nb-card-body class="py-5">
    <div class="d-flex flex-column justify-content-center mb-4 w-100">
      <em class="fst-normal">Your email</em>
      <input type="text" class="w-100" nbInput />
    </div>
    <div class="d-flex flex-column justify-content-center">
      <em class="fst-normal">Password</em>
      <input type="password" nbInput />
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <p class="me-2 mb-0">No account?</p>
      <a class="d-inline-block" href="">Create one</a>
    </div>
    <button nbButton status="primary">Login</button>
  </nb-card-footer>
</nb-card>
