::ng-deep {
    .nb-theme-corporate nb-user.size-giant .user-picture {
        width: 7rem;
        height: 7rem;
    }
}

.nb-user {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #c87f7f;
}
